
* {
  box-sizing: border-box;
}

html {
  font-family: "Papyrus", Fantasy;
  font-size: 15px;
}

.heading {
  border-radius: 10px;
  padding-top: 15px;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(147, 207, 243), rgb(207, 165, 243) 100% );
  background-position: center center;
  text-align: center;
  color: rgba(39, 38, 38, 0.961);
  letter-spacing: 1.2px;
  font-weight: 700;
  font-weight: bolder;
  padding-bottom: 15px;
  text-indent: -34px;
  padding-left: 34px;
  font-family: Fantasy;
}

.heading a{
  text-decoration: none;
  color: rgb(45, 45, 42);
}

.category_list {
  font-family: Cursive;
  font-size: 18px;
  font-weight: normal;
  color: rgba(58, 56, 56, 0.961);
}

.category {
  text-align: center;
  padding: inherit;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #99c8f1 15%, #deabf2e8 100% );
  line-height: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.95;
}

#body {
  background-color: #f7f7f7;
}

.shopping_cart {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  clear: both;
  display: inline-flex;
}

.item {
  float: left;
}

.item_text_content {
  font-weight: normal;
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
  vertical-align: top;
  font-family: Verdana;
}

.item_image {
  width: 30%;
  min-width: 100px;
  max-width: 250px;
  height: auto;
  border-radius: 25px;
}

.item_name, .shopping_cart_item_name {
  font-size: larger;
  font-weight: bold;
  color: #474747;
}

.add_to_cart_btn{
  cursor: pointer;
  width: 112px;
  height: 38px;
  border: 1px none #c8c8c8;
  border-radius: 20px;
  background-color: #ffc800;
  font-family: Fantasy;
  font-size: 14px;
  color: #ffffff;
  font-weight: 900;
  line-height: normal;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
}


#shopping_cart_icon {
  cursor: pointer;
  height: 60px;
  min-width: 30px;
  min-height: 30px;
}
#total_item_in_shopping_cart {
  text-align: center;
}

.category_list_and_items {
  /* display: inline-flex; */
}

.page_change_section {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  clear: both;
  display: inline-flex;
}

#load_previous_page {
  text-align: right;
  cursor: pointer;
}
#page_number {
  height: 15px;
  text-align: center;
}
#total_pages {
  text-align: left;
}
#load_next_page {
  text-align: left;
  cursor: pointer;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 30%;}
.col-2 {width: 65%;}

.col-3 {width: 30%;}
.col-4 {width: 70%;}

.col-5 {width: 16%;}
.col-6 {width: 10%;}
.col-7 {width: 10%;}
.col-8 {width: 13%;}

/* .col-9 {width: 5%;} */
.col-10 {width: 5%;}

.col-11 {width: 100%;}

.col-12 {width: 100%;}



@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  #load_previous_page {
    text-align: center;
    cursor: pointer;
  }
  #total_pages {
    text-align: center;
  }
  #load_next_page {
    text-align: center;
    cursor: pointer;
  }
}

#shopping_cart_header {
  text-align: center;
  font-weight: bolder;
}

#shopping_cart_footer {
  width: 100%;
  text-align: center;
}

#payment_summary {
  text-align: center;
}

#back_to_main_page {
  display: block;
  text-align: center;
}
